**/bin
**/obj
**/.vs
**/.vscode
**/.idea
**/*.user
**/*.suo
**/.git
**/.gitignore
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/*.md
**/node_modules
**/appsettings.Development.json
**/appsettings.Local.json
**/.env
**/.env.*
!.env.example
