GHCR_OWNER=seu-usuario-github
GHCR_IMAGE=formaturas-api
API_TAG=latest

GHCR_USER=seu-usuario-github
GHCR_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxx

POSTGRES_DB=formaturas
POSTGRES_USER=formaturas
POSTGRES_PASSWORD=troque_esta_senha_forte

JWT_ISSUER=http://191.101.78.252
JWT_AUDIENCE=formaturasflow-front
JWT_KEY=troque_por_uma_chave_de_pelo_menos_32_bytes_aleatoria
JWT_ACCESS_TOKEN_MINUTES=60

EFI_SANDBOX=true
EFI_CLIENT_ID=
EFI_CLIENT_SECRET=
EFI_CERTIFICATE_BASE64=
EFI_CERTIFICATE_PASSWORD=
EFI_PIX_KEY=
EFI_WEBHOOK_SECRET=troque_este_segredo_do_webhook

CORS_ORIGIN_0=http://localhost:5173
